@model DemoRegAndLoginWithIdentity.Models.BookingService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingService</h4>
<hr />
<div class="row">
    <div class="col-md-7 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <select asp-for="ServiceName" class="form-control">
                    <option value="Option1">Select Option</option>
                    <option value="Full Body Wash">Full Body Wash</option>
                    <option value="Engine Repair">Engine Repair</option>
                    <option value="Engine Replacement">Engine Replacement</option>
                    <option value="Gear Box Clutch">Gear Box Clutch</option>
                    <option value="Bike Air Filter">Bike Air Filter</option>
                    <option value="Horn Repair">Horn Repair</option>
                    <!-- Add more options as needed -->
                </select>
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleRegistrationNumber" class="control-label"></label>
                <input asp-for="VehicleRegistrationNumber" class="form-control" />
                <span asp-validation-for="VehicleRegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"  type="date"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceCenter" class="control-label"></label>
                <input asp-for="ServiceCenter" class="form-control" />
                <span asp-validation-for="ServiceCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDesc" class="control-label"></label>
                <input asp-for="ServiceDesc" class="form-control" />
                <span asp-validation-for="ServiceDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

 <div>
    <a asp-action="GetBooking" class="btn btn-outline-success">Back to List</a>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
